#popups {
    visibility: visible;
    position: absolute;
    background-color: indigo;
    color: chartreuse;

    text-align: center;
    border: solid black 3px;

    top: 10vh;
    right: 25vw;

    width: 50vw;
    height: auto;
}


#container{
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: baseline;
    align-content: space-between;

    position: relative;
    width: 100%;
    max-height: 10vh;
    min-height: 5vh;
    height: auto;
    background-color: aqua;
}

.navbar a{
    margin: auto;
}
.navbar img{
    height: 5vh;
    width: auto;
}


.list_of_trobbles {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;

    max-height: 50vh;
    min-height: 30vh;
    height: auto;
    width: 100%;
    margin: 0px;

    background-color: burlywood;
}

.desc {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;

    background-color: crimson;
    height: auto;
    width: 100px;
    padding: 10px;
    margin-right: 1vw;
    margin-left: 1vw;
}


.interactions {
    display: flex;
    flex-direction: column;

    width: 100% - 10px;
    max-height: 40vh;
    min-height: 20vh;
    height: auto;
    background-color: blueviolet;
    margin: 0px;
    padding: 0px;

    border: black double 5px;
}

.messages {
    flex-grow: 100;
    background-color: azure;
    height: 100%;
    overflow-y: scroll;
}

.messages p{
    margin-top: 0;
    margin-bottom: 0;
}