body {
    margin: 0;
}

#popups {
    visibility: visible;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.431);
    color: black;
    font-size: 1.2em;

    text-align: center;
    border: solid black 3px;

    top: 20vh;
    right: 25vw;

    width: 50vw;
    height: auto;
}


#container{
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: baseline;
    align-content: space-between;

    position: relative;
    width: 100%;
    max-height: 10vh;
    min-height: 5vh;
    height: auto;
    background-color: rgb(0, 60, 75);
    color: rgb(0, 255, 255);
}

.navbar h2{
    font-size: 1.6em;
    margin-left: 10%;
    width: 20%;
}

.insideNav {
    margin-left: 30%;
    width: 40%;
}

.insideNav a {
    margin-left: 7%;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
    color: rgb(0, 255, 255);
}

.insideNav a:hover {
    margin-left: 7%;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
}

.navbar img{
    height: 5vh;
    width: auto;
}

button {
    margin: auto;
    width: 25%;
    background-color: rgba(0, 60, 75);
    color: white;
    font-size: 1.6em;
    font-weight: 200;
    border-radius: 20px;
    display: block;
}

.list_of_trobbles {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;

    max-height:70vh;
    min-height: 50vh;
    height: auto;
    width: 100%;
    margin: 0px;

    background-color: rgba(134, 86, 23, 0.2);
}

.desc {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;

    background-color: crimson;
    height: auto;
    width: 100px;
    padding: 10px;
    margin-right: 1vw;
    margin-left: 1vw;
}

.female{
    background-color: hotpink;
}
.male{
    background-color: cornflowerblue;
}

.interactions {
    display: flex;
    flex-direction: column;

    width: 100% - 10px;
    max-height: 35vh;
    min-height: 20vh;
    height: auto;
    background-color: rgb(0, 60, 75);
    margin: 0px;
    padding: 0px;

    border: black double 5px;
}

#likelink {
    color: rgb(0, 255, 255);
    font-weight: bold;
    font-size: 1.3em;
}

.messages {
    flex-grow: 100;
    background-color: azure;
    height: 100%;
    overflow-y: scroll;
}

.messages p{
    margin-top: 0;
    margin-bottom: 0;
}

.description {
    padding: 5%;
    font-size: 1.2em;
    background-color: rgba(134, 86, 23, 0.2);
    bottom: 0;
}

.description p{
    margin-bottom: 30%;
}

.description h1{
    color: rgb(0, 60, 75);
}